* {
    box-sizing: border-box;
}
body {
    background: url("https://images.unsplash.com/photo-1559116770-57f118238385?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1573&q=80");
    font-size: 18px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; 
    clear: both;
}
#container {
    margin: 0 0 30px;
}
h1, h2, h3, p {
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom: 0;
}
h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #164d24;;
}
h1 {
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
}
h2, h3 {
    font-size: 22px;
}
#masthead {
    background: #fff;
    margin: 0 0 30px;
    z-index: 99;
    color: #fff;
    overflow: auto;
    border-bottom: 2px solid #ccc;
    position: fixed; 
    width: 100%;
}
#logo {
    width: 250px;
    height: 90px;
    background: #164d24;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 90px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    margin-left: 160px;
}
nav {
    float: right;
    margin-top: 25px;
    margin-right: 215px;
}
nav a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    line-height: 18px;
}
nav a:first-child {
    border-left: 0 none;
}
#nav1 {
    background: #fff;
    margin-right: 180px;
}
#navbarNav {
    background: #fff;

}
#main-container {
    padding-top: 130px;
}
#main-section {
    background: #fff;
    border: 1px solid #ddd;
    height: 80%;
    padding: 30px;
}
.auth-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}
#resume {
    margin-left: 2px;
}

.sidebar {
    background: #fff;
    border: 1px solid #ddd;
    padding: 25px;
    height: 275px;
    text-align: center;
}
p {
    font-size: 17px;
}
#connect {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
}

/* .sidebar, */
h3,h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
}
.social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
    
}
.social:last-child {
    margin-right: 0;
}
.footer-margin {
    background: #fff;
    color: #666;
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    border-top: 2px solid #ccc;
}
.card-footer:last-child {
    background: #fff;
    color: #666;
    padding: 0;
}
/*portfolio section*/
.port-image {
    margin: 20px auto;
  }
.work {
    width: 100%;
    overflow: auto;
    position: relative;
    
    margin: 20px 0 25px;
}
#main-container2 {
    height: 1000px;
    padding-top: 130px;
}
.work:nth-child(even) {
    margin-right: 40px;
}
.work img {
    width: 100%;
    border: 0 none;
    opacity: .8;
    margin: 0;
    
}
.work h3 {
    border-bottom: 0;
    background: #164d24;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 90%;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
}
/*contact section*/
#contact-form ul {
    margin-bottom: 20px;
}
#contact-form li {
    margin-bottom: 10px;
}
label, input[type=text], input[type=email], textarea {
    display: block;
    width: 100%;
}
input[type=text], input[type=email], textarea {
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;
}
#textarea{
    height: 200px;
}
input[type=submit] {
    background: #164d24;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}